.nav-button,
.nav-button > div > h3 {
  font-family: "Source Code Pro", monospace;
  color: #7ac7c4;
  /* font-size: 2rem; */
}

.nav-button:hover,
.nav-button > div > h3:hover {
  color: #f73859;
  text-decoration: none;
}

.nav-img {
  height: 2rem;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-main {
  background-color: #384259 !important;
}
